body{
    margin:auto;
    font-family: 'STIX Two Math', serif;
}
.section1{
    background-image: url(images/Untitled\ design\ \(1\).png);
    background-size: cover;
    display: flex;
    color:white;
    background-repeat: no-repeat;

}
.section1img{
    margin-left: 30%;
    width: 40%;
}
.section1text{
    width: 20%;
    margin-top: 12%;
    margin-left: 7%;

}
#section1h2{
    font-size: 28px;
    font-weight: 600;
}
#section1h1{
    font-size: 40px;
    font-weight: 800;
}
.webdev{
    background-color: teal;
    border: none;
    color: black;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
}
.all{
    text-align: center;
}
.section2 h3{
    font-size: 25px;
}
.section2 .font{
    font-size: 30px;
    color: teal;
    font-weight: 600;
}
.flex{
    display: flex;
    padding-bottom: 50px;
}
.padding{
    padding-left: 15%;
}
.p1{
    background-image: linear-gradient(grey,black);
    padding: 10px 5px;
    text-decoration: none;
    color: white;
}
.p2{
    background-image: linear-gradient(grey,black);
    padding: 10px 8px;
    text-decoration: none;
    color: white;
}
.p3{
    background-image: linear-gradient(grey,black);
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}
.p4{
    background-image: linear-gradient(grey,black);
    padding: 10px 3px;
    text-decoration: none;
    color: white;
}
.section2{
    padding-bottom: 150px;
    padding-top: 100px;
    background-color: rgba(168, 167, 167, 0.801);
}
.cv{
    background-color: gray;
    padding: 10px 20px;
    text-decoration: none;
    color: honeydew;
    border-radius: 20px;
}
.cvboth{
    text-align: center;
}